html {
    height: 100%;
    width: 100%;
}

.bgImg {
    height: calc(100% - 50px);
    width: 100%;
    background-image: url('building.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0px;
    top: 50px;
}

.bgImg2 {
    height: calc(100% - 50px);
    width: 100%;
    background-image: url('building2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0px;
    top: 50px;
}

.navbar {
    font-family: 'Inter';
    font-weight: 700;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    color: white;
    background-color: #2D2B2B;
}

.navbar ul {
    overflow: auto;
    padding-left: 25%;
}

li {
    float: left;
    list-style: none;
    padding-left: 30px;
}

.sideItem {
    float: right;
    list-style: none;
    padding-right: 5%;
}

.logo {
    position: absolute;
    left: 50px;
    height: 50px;
    width: 325px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
    color: #00E0FF;
}

.active {
    color: #00E0FF !important;
}

.cover {
    background-color: rgba(20, 17, 17, 0.8);
    height: calc(100% - 50px);
    width: 100%;
    position: absolute;
    left: 0px;
    top: 50px;
}

.items {
    font-family: 'Inter';
    font-weight: 700;
    display: flex;
    flex-direction: column;
    position: absolute;
    row-gap: 15px;
    top: 30%;
    left: 5%;
}

.dreamHome {
    color: #00E0FF;
    font-size: 40px;
}

.getStarted {
    color: white;
    font-size: 25px;
    margin-right: 900px;
}

.button {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    background-color: #00E0FF;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
}

.button:hover {
    background-color: white;
    cursor: pointer;
}

.contentBody {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 700px;
    background-color: black;
    display: flex;
}

.about {
    height: 400px;
    width: 700px;
    font-family: 'Inter';
    font-weight: 700;
    color: white;
    margin-left: 50px;
}

.aboutUnderLine {
    font-size: 40px;
}

.aboutUnderLine:after {
    content: " ";
    display: block;
    width: 475px;
    height: 10px;
    background-color: #00E0FF;
    border-radius: 10px;
}

.aboutContent {
    width: 600px;
    height: 250px;
    margin-right: 900px;
    font-size: 25px;
}

.fullLogo {
    margin-right: 100px;
    width: calc(100% - 750px);
    height: 400px;
}

.work {
    height: 350px;
    font-family: 'Inter';
    font-weight: 700;
    color: white;
    width: calc(100% - 50px);
    position: absolute;
    left: 0px;
    top: 1100px;
    background-color: #2D2B2B;
    padding-left: 50px;
}

.workUnderLine {
    font-size: 40px;
}

.workUnderLine:after {
    content: " ";
    display: block;
    width: 350px;
    height: 10px;
    background-color: #00E0FF;
    border-radius: 10px;
}

.workContent {
    margin-right: 100px;
    font-size: 30px;
}

.why {
    font-family: 'Inter';
    font-weight: 700;
    color: white;
    width: calc(100% - 50px);
    position: absolute;
    left: 0px;
    top: 1400px;
    background-color: black;
    padding-left: 50px;
}

.whyUnderLine {
    font-size: 40px;
}

.whyUnderLine:after {
    content: " ";
    display: block;
    width: 465px;
    height: 10px;
    background-color: #00E0FF;
    border-radius: 10px;
}

.whyContent {
    margin-right: 100px;
    font-size: 25px;
}

.list {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    color: white;
    padding-bottom: 325px;
}

.list ul {
    list-style: none;
}

.list li {
    margin-bottom: 10px;
}

.list li::before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: white;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */
}

.topic {
    color: #00E0FF;
}

.bgBox {
    background-color: #2D2B2B;
    border-radius: 25px;
    position: absolute;
    top: 75px;
    left: 35%;
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 120px;
}

.queries {
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: 25px;
}

.phCall {
    height: 75px;
}

.phNo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.para {
    margin-bottom: 0px;
}

.phNumber {
    width: 90%;
    height: 25px;
}

.signUp {
    font-size: 25px;
    font-family: 'Inter';
    font-weight: 700;
    color: #00E0FF;
}

.signUp:hover {
    color: white;
}

.options:hover {
    cursor: pointer;
}

.mainBody {
    width: 100%;
    height: calc(100% - 65px);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 65px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.mainBody2 {
    width: 100%;
    height: calc(100% - 65px);
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    color: white;
    position: absolute;
    top: 65px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location {
    height: 25px;
    background-color: #D9D9D9;
    width: 200px;
}

.search {
    width: 90vw;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: 100vw;
    height: 500px;
}

.item {
    display: flex;
    height: 225px;
    width: 475px;
    background-color: black;
    overflow: hidden;
}

.item:hover {
    cursor: pointer;
}

.house {
    width: 50%;
    height: 100%;
}

.detail {
    color: white;
    padding-top: 100px;
    padding-left: 25px;
    font-size: 15px;
}

.content_pic {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: 100vw;
    height: 375px;
}

.item_pic {
    height: 225px;
    width: 475px;
    overflow: hidden;
}

.item_pic2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 225px;
    width: 475px;
    overflow: hidden;
}

.house_pic {
    width: 100%;
    height: 100%;
}

.detail_pic {
    padding-top: 30px;
    color: white;
    font-size: 17px;
}

.flatBgCover {
    background-color: #2D2B2B;
    border-radius: 25px;
    position: absolute;
    top: 75px;
    left: 35%;
    height: 600px;
    width: 500px;
}

.flat {
    margin-left: 25px;
    margin-top: 15px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}

.special {
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;

}

.data {
    width: 90%;
    height: 10px;
    background-color: #D9D9D9;
}

.option {
    width: 90%;
    background-color: #D9D9D9;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.graph {
    margin-top: 0px;
}

.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.land {
    margin-left: 25px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}

.special2 {
    font-family: 'Inter';
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.data2 {
    width: 90%;
    height: 10px;
    background-color: #D9D9D9;
}